/* Import
   ========================================================================== */

/** Online google fonts **/
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Oleo Script', cursive; */
    font-family: 'Roboto', sans-serif;
    color: #49654C;
}

h1, h2, h3 {
    color: #253628;
}

/* Re-use
   ========================================================================== */

.btn {
    border: 2px solid;
    border-radius: 8px;
    padding: 6px 18px;
}

/* Navigator
   ========================================================================== */

nav {
    /* background-color: antiquewhite; */
    background-color: white;
    display: flex;
    align-items: center;
    padding: 20px 5% 10px 5%;
    /* height: 10vh; */
}

nav .logo {
    position: relative;
    top: -8px;
    width: 60px;
    margin-right: 20px;
}

nav h3 {
    font-family: 'Oleo Script', cursive;
    font-size: 30px;
}

nav ul {
    flex: 1;
    text-align: right;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

/* Header
   ========================================================================== */

header {
    /* background-image: url(../../mine-resources/img/tea_farm_2.jpg); */
    background-image: linear-gradient(#425f4d85,#ffffff00), url(./img/tea_farm_2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* background-attachment: fixed; */
}

header .header-text {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* text-align: center; */
    /* background-color: black; */
}

header .header-logo {
    display: inline-block;
    width: 120px;
}

header h1 {
    font-family: 'Oleo Script', cursive;
    display: inline-block;
    font-size: 120px;
    color: white;

    /* background-color: black; */
}

/* Home text
   ========================================================================== */
.home-text {
    width: 66%;
    float: left;
}

.home-text .text {
    /* padding: 80px 20px; */
    /* margin: 50px 20px 20px 30px; */
    /* position: absolute; */
    /* top: 150%; */
    /* background-color: rgb(194, 252, 118); */
    font-size: 20px;
    width: 600px;
    margin: 15% auto 0 20%;
}

.home-text .text h2 {
    font-family: 'Oleo Script', cursive;
    font-weight: 700;   
    font-size: 70px;    
    /* word-spacing: 3px; */
    /* text-align: left; */
    margin-bottom: 15px;    
    /* letter-spacing: 0.8px;   */
    color: #253628;
}

.home-text .text .welcome-text {
    letter-spacing: 1px;
}

.home-text .text .welcome-text p{
    margin-bottom: 15px;
}

.home-text .knowmore-box {
    margin-top: 30px;
}

.home-text .knowmore-box a{
    text-decoration: none;
}

/* Home image review
   ========================================================================== */
.home-image-review {
    width: 34%;
    float: right;
}

.home-image-review .img-review {
    width: 100%;
}

.home-image-review ul li {
    list-style: none;
}

/* Footer
   ========================================================================== */

footer {
    clear: both;
    display: flex;
    align-items: center;
    padding: 0px 1%;
    /* background-color: yellow; */
}

footer p {
    font-weight: 700;
}

footer ul {
    flex: 1;
    text-align: right;
}

footer ul li {
    display: inline-block;
    list-style: none;
    margin: 0 10px;
}

footer ul li a{
    text-decoration: none;
    color: black;
}

footer ul li a i{
    font-size: 20px;
}